*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.box{
    background-color: rgb(207, 224, 224);
    width: 100%;
    max-width: 700px;
    padding: 40px; 
    margin:40px auto 0;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 500;
    padding: 20px 0;
}
b{
    font-weight: 700;
    font-style: italic;
}
p{
    color: rgb(49, 49, 49);
    font-size: 18px;
    padding: 20px 0;
}
mark{
    background-color: blue;
    padding: 2px 5px;
    display: inline-block;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 15px;
}
img{
    max-width: 100%;
    width:150px;
    border-radius: 30px; 
    box-shadow: 4px 4px 0 0 rgba(144, 181, 255, 0.575);
    display: block;
    margin: 10px auto 0;
}
a{
    background-color: blue;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 6px 25px;
    margin: 15px auto 0; 
    display: inline-block; 
    border-radius: 30px; 

}
